{% extends "layout.html" %}
{% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb" id="department-section">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="img img-dept align-self-stretch" style="background-image: url('{{ url_for('static', filename='images/dept-1.jpg') }}');"></div>
            </div>

            <div class="col-md-8">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Neurology</a></h3>
                                <p>Specialized care for disorders of the nervous system.</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Surgical</a></h3>
                                <p>Advanced surgical procedures and treatments.</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Dental</a></h3>
                                <p>Providing expert dental care for a healthy smile.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Opthalmology</a></h3>
                                <p>Offering advanced eye care solutions for optimal vision health.</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Cardiology</a></h3>
                                <p>Delivering specialized care for heart health and cardiovascular diseases.</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Traumatology</a></h3>
                                <p>Specialized in the treatment of injuries, fractures, and musculoskeletal trauma.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Nuclear Magnetic</a></h3>
                                <p>Diagnostic imaging using nuclear magnetic resonance</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">X-ray</a></h3>
                                <p>Advanced X-ray imaging for accurate diagnosis.</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="#">Gynecology</a></h3>
                                <p>Comprehensive women's health and reproductive care.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" id="doctor-section">
    <div class="container-fluid px-5">
        <div class="row justify-content-center mb-5 pb-2">
  <div class="col-md-8 text-center heading-section ftco-animate">
    <h2 class="mb-4">Our Qualified Doctors</h2>
    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
  </div>
</div>	
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url('{{ url_for('static', filename='images/doc-1.jpg') }}');"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">Dr. Lloyd Wilson</h3>
                        <span class="position mb-2">Neurologist</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <p><a href="#" class="btn btn-primary">Book now</a></p>
          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url('{{ url_for('static', filename='images/doc-2.jpg') }}');"></div>

                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">Dr. Rachel Parker</h3>
                        <span class="position mb-2">Ophthalmologist</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <p><a href="#" class="btn btn-primary">Book now</a></p>
          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url('{{ url_for('static', filename='images/doc-3.jpg') }}');"></div>

                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">Dr. Ian Smith</h3>
                        <span class="position mb-2">Dentist</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <p><a href="#" class="btn btn-primary">Book now</a></p>
          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url('{{ url_for('static', filename='images/doc-4.jpg') }}');"></div>

                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">Dr. Alicia Henderson</h3>
                        <span class="position mb-2">Pediatrician</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <p><a href="#" class="btn btn-primary">Book now</a></p>
          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}