{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>My Transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Bill No</th>
                <th>Amount</th>
                <th>Transaction ID</th>
                <th>Total Pharmacy Cost</th>
                <th>Total Equipment Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.bill_no }}</td>
                <td>{{ bill.b_amount }}</td>
                <td>{{ bill.transaction_id }}</td>
                <td>{{ bill.b_medicine }}</td>
                <td>{{ bill.b_equipment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
