{% extends "layout.html" %}

{% block content %}

<style>
    h2 {
        text-align: center;
        padding: 20px 0;
    }

    .table-bordered {
        border: 1px solid #ddd !important;
    }

    table caption {
        padding: .5em 0;
    }

    @media screen and (max-width: 767px) {
        table caption {
            display: none;
        }
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    th {
        text-align: center;
    }
</style>

<br><br><br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <h2>Patient Details</h2>
            <div class="table-responsive" data-pattern="priority-columns">
                <table summary="This table shows how to create responsive tables using RWD-Table-Patterns' functionality"
                    class="table table-bordered table-hover">
                    <thead>
                        <th>Patient_ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Room Id</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                    </thead>
                    <tbody>
                        {% for patient in patient %}
                        <tr>
                            <td>{{ patient.patient_id }}</td>
                            <td>{{ patient.p_name }}</td>
                            <td>{{ patient.address }}</td>
                            <td>{{patient.p_gender}}</td>
                            <td>{{patient.p_age}}</td>
                            <td>{{patient.room_id}}</td>
                            <td>{{patient.in_date}}</td>
                            <td>{{patient.out_date}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>

                    <tfoot>

                    </tfoot>
                </table>
            </div><!-- end of .table-responsive -->
        </div>
    </div>
</div>

{% endblock %}