{% extends "layout.html" %}
{% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2 bg-light">
    <div class="container">
<div class="row d-flex">
    <div class="col-md-7 py-5">
        <div class="py-lg-5">
            <div class="row justify-content-center pb-5">
              <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-3">Our Services</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-flex">
                  <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-ambulance"></span></div>
                  <div class="media-body pl-md-4">
                    <h3 class="heading mb-3">Emergency Services</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  </div>
                </div>      
              </div>
              <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-flex">
                  <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-doctor"></span></div>
                  <div class="media-body pl-md-4">
                    <h3 class="heading mb-3">Qualified Doctors</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  </div>
                </div>      
              </div>
              <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-flex">
                  <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-stethoscope"></span></div>
                  <div class="media-body pl-md-4">
                    <h3 class="heading mb-3">Outdoors Checkup</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  </div>
                </div>      
              </div>
              <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-flex">
                  <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-24-hours"></span></div>
                  <div class="media-body pl-md-4">
                    <h3 class="heading mb-3">24 Hours Service</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  </div>
                </div>      
              </div>
            </div>
          </div>
      </div>
      
    </div>
    </div>
</section>
{% endblock content %}